@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 2rem;
  width: 350px;
  max-width: 100%;
}

.progress-container::before {
  content: '';
  background-color: #ccc;
  position: absolute;
  height: 4px;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  background-color: #0672bb;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.4s ease-in;
}

.circle {
  border: 3px solid #8d8989;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #8d8989;
  background: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle.active {
  border-color: #0672bb;
  transition: border 0.4s ease-in 0.2s;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn {
  background: #0672bb;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  color: #fff;
  transition: transform 0.1s ease-in;
}

.btn:hover,
.btn:active {
  background: #045e9b;
}

.btn:active {
  transform: scale(0.96);
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
  color: #8d8989;
}

@media (max-width: 450px) {
  .progress-container {
    width: 270px;
    margin: auto;
  }

  .circle {
    width: 40px;
    height: 40px;
  }
}
